NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAUrOgX0FTIpkgQ_4iCWONDdX6ExeRHQzw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=campus-match-cet.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=campus-match-cet
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=campus-match-cet.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=750596830968
NEXT_PUBLIC_FIREBASE_APP_ID=1:750596830968:web:099efc208a7fa68fac6d0d
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://campus-match-cet-default-rtdb.asia-southeast1.firebasedatabase.app

# Cloudinary (replace Firebase Storage)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dindcfdvt
NEXT_PUBLIC_CLOUDINARY_API_KEY=748944578362656
CLOUDINARY_API_SECRET=wUzVYYIcE2zM618GVTsANLf6-dA
